<%= form_with(model: [@client, @expense], url: new_client_transaction_path, method: :post) do |form| %>
  <div class="field">
    <%= form.label :client_id, 'Client' %>
    <%= form.collection_select :client_id, Client.all, :id, :first_name, :last_name, promt: 'Select a client' %>
  </div>

  <div class="field">
    <%= form.label :expense_description, 'Expense Description' %>
    <%= form.text_field :expense_description %>
  </div>

  <div class="field">
    <%= form.label :expense_amount, 'Expense Amount' %>
    <%= form.number_field :expense_amount %>
  </div>

  <%# <div class="field">
    <%= form.label :payment_amount, 'Payment Amount' %>
    <%# <%= form.number_field :payment_amount %>
  <%# </div> %> %> %>

  <div class="actions">
    <%= form.submit 'Create Transaction' %>
  </div>
<% end %>
